@font-face {
	font-family:Visby_Round;
	src: url("../fonts/VisbyRoundCF-Bold.ttf");
}

body,html{
    padding: 0;
    margin: 0;
    overflow-y: hidden;
}
#main{
    font-size: 30px;
	font-family:Visby_Round;
	font-weight: normal;
    color: white;
    width: 1920px;
    height: 1080px;
    position: relative;
}
/* .odometer.odometer-auto-theme{
    font-size: 24px !important;
    font-family:Visby_Round !important;
    font-weight: normal !important;	
}
.odometer.odometer-auto-theme .odometer-digit .odometer-digit-inner, .odometer.odometer-theme-default .odometer-digit .odometer-digit-inner {
    padding-left: 5px !important;
    padding-right: 5px !important;
    margin-left: -5px !important;
    margin-right: -5px !important;
} */
#top {
	display: flex;
	position: absolute;
    width: 1920px;
    height: 200px;
	background-image: url('../static/top.png');
	background-repeat: no-repeat;
    transition: ease-in-out 500ms;
	z-index: 0;
	background-size: cover;
}

#scoreTree {
	width:202px;
	height:202px;
	animation: spawn 900ms cubic-bezier(0.55, 0.46, 0.45, 0.94) both;
}
@keyframes spawn {
	from {
	  	transform: scale(0);
		transform-origin: 50% 100%;
	  	opacity: 0;
	}
	to {
	  	transform: scale(1);
	  	transform-origin: 50% 100%;
	  	opacity: 1;
	}
}
  
#bottom {
	position: absolute;
	bottom: 0px;
    width: 1920px;
    height: 200px;
	background-image: url('../static/bottomplay.png');
	background-repeat: no-repeat;	
    transition: ease-in-out 200ms;
	z-index: 0;
	background-size: cover;
}

#scoreBlue {
	box-sizing: border-box;
	width: 50%;
	height: 90%;
	margin-right: 50px;
    font-size: 30px;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
    flex-wrap: wrap;
	transition: ease-in-out 500ms;
	transform:translateX(100px);
}
#scoreRed {
	box-sizing: border-box;
	width: 50%;
	height: 90%;
	margin-left: 50px;
    font-size: 30px;
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
    flex-wrap: wrap;
	transition: ease-in-out 500ms;
	transform:translateX(-100px);
}
.score {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	border: 2px solid #f2f2f2;
	background-color: transparent;
	margin-right: 4px;	
}
.score.scoreFill {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	border: 2px solid #f2f2f2;
	background-color: #f2f2f2;
	margin-right: 4px;
}
.score.scoreFillAnimate {
	animation: addScore 500ms forwards;
}
@keyframes addScore {
	from { 
		background-color: transparent;
	}
	to {
		background-color: #f2f2f2;
	}
}
.score.scoreNoneAnimate {
	animation: removeScore 500ms forwards;
}
@keyframes removeScore {
	from { 
		background-color: #f2f2f2;
	}
	to {
		background-color: transparent;
	}
}
#logo {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	
	width: 200px;
	height: 100px;
	background-image: url('../static/logo.png');
	background-repeat: no-repeat;
	background-size: cover;	
	z-index: 1;
}
#teamBlue {
	position: absolute;
	left: 160px;
	top: 50px;
    font-size: 25px;
	color: white;
    transition: ease-in-out 500ms;
}
#teamBlueName {
	padding: 10px 30px 10px 30px;
	width: 500px;
	color: black;
	background-color: white;
	border-radius: 10px;
}
#teamRed {
	position: absolute;
	right: 160px;
	top: 50px;
	text-align: right;
    font-size: 25px;
	color: white;
    transition: ease-in-out 500ms;
}
#teamRedName {
	padding: 10px 30px 10px 30px;
	width: 500px;
	color: black;
	background-color: white;
	border-radius: 10px;
}

#partner {
	position: absolute;
	padding: 5px 30px 5px 30px;
	left: 30px;
	bottom: 130px;
	color: rgb(43,12,75);
	background-color: white;
	border-radius: 25px;
	box-shadow: 0px 0px 20px -3px black;	
}

#nowPlayingContainer {
	position: absolute;
	right: 30px;
	bottom: 60px;
	width: 400px;
	height: 100px;
	text-align: center;
	align-content: center;
}
#nowPlayingText {
	position: relative;
	padding: 5px 20px 5px 20px;
	margin: -13px 50px 0px 50px;
	margin-bottom: -10px;
	color: rgb(43,12,75);
	background-color: white;
	border-radius: 25px;
	box-shadow: 0px 0px 20px -5px black;
	z-index: 1;
}
#playScoreBlue {
	position: absolute;
	text-align: center;
	border-radius: 25px;
	left: 532px;
	bottom: 110px;
	height: 66px;
	width: 402px;
	
	background-color: #642f9c;
	color: white;
    font-family:Visby_Round;
	font-size: 40px;
	line-height: 60px;
	
    transition: ease-in-out 500ms;
}
#playScoreRed {
	position: absolute;
	text-align: center;
	border-radius: 25px;
	right: 532px;
	bottom: 110px;
	height: 66px;
	width: 402px;

	background-color: #642f9c;
	color: white;
    font-family:Visby_Round;
	font-size: 40px;
	line-height: 60px;
	
    transition: ease-in-out 500ms;
}
#mapContainer {
	position: relative;
	padding-top: 20px;
	height: 104px;
	width: 100%;
	background-color: black;
    background-size: cover;
	border-radius: 25px;
	z-index: -1;
	box-shadow: 0px 0px 20px -3px black;
	overflow: hidden;
}
#mapTitle {
	position: relative;
	padding-left:5%;
	width: max-content;
	white-space: nowrap;
	overflow: hidden;
	z-index: 0;
}
#mapDifficulty {
	position: relative;
	padding-left:5%;
	width: 90%;
	white-space: nowrap;
	overflow: hidden;
	z-index: 0;
}
#overlay {
	position: fixed;
	transform: translateY(-20px);
	height: 124px;
	width: 400px;
	z-index: 0;
    background-color: rgba(0,0,0,0.50);
	border-radius: 25px;
	overflow: hidden;
}
.wrap {
	transform: translate(380px);
    animation: slide 8s linear infinite;
}
@keyframes slide {
    0% {transform: translate(0px);}
	11% {transform: translate(0px);}
    80% { transform: translate(calc(-100% + 380px)); }
    100% { transform: translate(calc(-100% + 380px)); }
}
#chats {
	box-sizing: border-box;
	background: rgba(0,0,0,0.95);
	position: absolute;
	left: 513px;
	width: 900px;
	height: 133px;
	bottom: 11px;
	border-radius: 25px;
	overflow-y: scroll;
	overflow-x: hidden;
	padding: 5px 12px;
	font-size: 18px;
    font-family:Visby_Round;
    transition: ease-in-out 500ms;
}
.chat {
	display: flex;
	text-align: left;
}

.chatTime {
	width: 8%;
	color: silver;
	padding-right: 10px;
}
.wholeChat {
	width: 92%;
	display: flex;
}
.chatName {
	color: white;
	white-space: nowrap;
	width: max-content;
}
.chatText {
	white-space: normal;
	word-wrap: break-word;
	overflow: hidden;
}
.unknown {
	color: yellow;
}
.bot {
	color: #FF66AA;
}
.left {
	color: #1fd0ed;
}
.right {
	color: #ed1855;
}


/*Scrollbar*/
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    margin-top: 25px;
    margin-bottom: 25px;
	visibility: 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: rgba(0,0,0,0);
	border-radius: 10px;
}
.text{
    display: flex;
    justify-content: center;
}