/*@font-face {
    font-family: "VAG Rundschrift D";
    src: url("../fonts/VAG-Rundschrift-D.ttf");
}*/

body,html{
    padding: 0;
    margin: 0;
    width: 1920px;
    height: 1080px;
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
}
#main{
    font-family: 'Varela Round', sans-serif;
    font-weight: normal;
    height: 1080px;
    position: relative;
}
.line {
    position: absolute;
    top: 70px;
    right: 15px;
    width: calc(350px - 30px);
    height: 7px;
    background: rgba(119, 106, 96, 0.3);
    border-radius: 100px;
    overflow: hidden;
  }
  
.line::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: var(--progress);
    height: 100%;
    background: #533e2a;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }

#Accdiv{
    font-family: 'Roboto', sans-serif;
    position: absolute;
    top: 75px;
	right: 20px;
	font-size: 40px !important;
	text-align: end !important;
}
#Acc{
    color:rgb(255, 255, 255);
}
#PPCounter{
    font-family: 'Roboto', sans-serif;
    color:rgb(255, 255, 255);
}
#Acctxt{
    color:#d69e78;
    text-shadow: 0 0 0.5em#d6a578;
}
#Score{
    font-weight: normal;
    color:rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
	position: absolute;
    top: 2px;
	right: 20px;
	font-size: 60px !important;
	text-align: right !important;
}
#Rank{
    font-size: 40px !important;
    font-family: "Roboto";
    font-weight: normal;
    color: white;
    position: absolute;
    top:75px;
    right:180px
}
#xasmnkl{
    /*background-image: url("../static/abXBz8m.jpg");*/
    position: absolute;
    z-index: -10;
    top:0;
    left:0;
    width: 1920px;
    height: 1080px;
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */}


#SBCont{
    padding:15px;
    bottom: 48px;
    position: absolute;
    max-height: 200px;
    font-size: 20px !important;
    text-align: center !important;
    border-radius: 7px;
    background-image: repeating-linear-gradient(37deg, #7c8187, #515457 104%);
    box-shadow: 0px 0px 10px 0px #4d4d4d;
}
#ifppCont{
    margin-top: 5px;
    text-shadow: 0px 2px 0px #000000, 0px 0px 5px #000000;    
}
#SBCont{
    left: 360px;
    z-index:12;
    top: 35px;
    height: 0px;
}

#mapStatus, #SBCont, #maxcomboCont, #ifppCont2{
    text-shadow: 0px 2px 0px #000000, 0px 0px 5px #000000;    

}

.ppOver{
    color: #cf9191; 
    text-shadow: #996363 1px 0 10px;
}
#pp{
    margin-top: 5px;
    text-shadow: 0px 2px 0px #000000, 0px 0px 5px #000000;    
}
#CurrentSRCont{
    font-size: 25px;
}
.ppclass2, .SRclass2, #urtext3{
    font-family: "Roboto";
    font-weight: normal;
    color: #d99c63;
    text-shadow: 0px 1px 5px #9c6736;
}

#PPCounter{
    z-index: 100;
}
#man{
    
    position: absolute;
    font-size: 30px;

    width: 120px;
    max-height: 20px;
    padding: 20px;
    padding-top: 20px;
    bottom: 10px;
    right: 10px;

    
    box-shadow: 0px 0px 10px 0px #000000, inset 0px 0px 10px 0px #000000;
    border: 3px solid #333333;
    background-color: #222222;

    border-radius: 15px;

    z-index: 10;   
}
#man2{
    
    position: absolute;
    font-size: 30px;

    width: 120px;
    max-height: 20px;
    padding: 20px;
    padding-top: 20px;
    bottom: 10px;
    right: 190px;

    
    box-shadow: 0px 0px 10px 0px #000000, inset 0px 0px 10px 0px #000000;
    border: 3px solid #333333;
    background-color: #222222;

    border-radius: 15px;

    z-index: 10;   

    transition: ease-in-out 400ms;
    transition-timing-function: cubic-bezier(0,.8,.74,.84);
}
#man3{
    
    position: absolute;
    font-size: 30px;

    width: 120px;
    max-height: 20px;
    padding: 20px;
    padding-top: 20px;
    bottom: 10px;
    right: 190px;

    
    box-shadow: 0px 0px 10px 0px #000000, inset 0px 0px 10px 0px #000000;
    border: 3px solid #333333;
    background-color: #222222;

    border-radius: 15px;

    z-index: 10;   
}
#man4{
    
    position: absolute;
    font-size: 30px;

    width: 120px;
    max-height: 20px;
    padding: 20px;
    padding-top: 20px;
    bottom: 10px;
    right: 190px;

    
    box-shadow: 0px 0px 10px 0px #000000, inset 0px 0px 10px 0px #000000;
    border: 3px solid #333333;
    background-color: #222222;

    border-radius: 15px;

    z-index: 10;   
}


#maxcomboConte{
    
    position: absolute;
    font-size: 30px;
    width: 120px;
    max-height: 20px;
    padding: 20px;
    padding-top: 20px;
    bottom: 10px;
    left: 190px;
    font-family: 'Roboto', sans-serif;
    color:rgb(255, 255, 255);
    box-shadow: 0px 0px 10px 0px #000000, inset 0px 0px 10px 0px #000000;
    border: 3px solid #333333;
    background-color: #222222;
    border-radius: 15px;

    z-index: 110;   
}
#hpbar {
    position: absolute;
    left: 25px;
    top:25px;
    width: 1920px;
    height: 100px;
    background-image: url('../static/hpbar.png');
    background-repeat: no-repeat;
    transition: ease-in 100ms;
}
#comboCont{
    position: absolute;
    font-size: 30px;
    width: 120px;
    
    max-height: 20px;
    padding: 20px;
    padding-top: 20px;
    bottom: 10px;
    left: 10px;
    font-family: 'Roboto', sans-serif;
    color:rgb(255, 255, 255);
    box-shadow: 0px 0px 10px 0px #000000, inset 0px 0px 10px 0px #000000;
    border: 3px solid #333333;
    background-color: #222222;
    border-radius: 15px;

    z-index: 110; 
}
#adnsjkl2{
    z-index: 10;
    top:-5px;
    position: relative;
    justify-content: center;
    display: flex;
}
#adnsjkl{
    z-index: 10;
    top:-5px;
    position: relative;
    justify-content: center;
    display: flex;
}
#strainGraph{
    position: absolute;
	top: 180px;
    right: 350px;
	height: 90px;
	z-index: -1;
    transition: ease-in-out 500ms;	
}
#progress{
    bottom: 0px;
    position: absolute;
    width: 280px;
	height: 90px;
    overflow: hidden;
    transition: ease 600ms;
}
#canvas,#canvasSecond{
    position: absolute;
	height: 90px;
    bottom: 0px;
}
#URDiv{
    
    position: absolute;
    font-size: 30px;

    width: 270px;
    max-height: 20px;
    padding: 20px;
    padding-top: 20px;
    top: 270px;
    right: 50px;
    
    border-bottom: 4px solid #413e3d;
    border-top: 4px solid #413e3d;
    box-shadow: 0px 0px 10px 0px #000000, inset 0px 0px 10px 0px #201d1a;
    
    background-color: #332d2a;

    border-radius: 15px;
    display: inline-block;
    z-index: 10;   
}
#URCont{
    z-index: 10;
    top:-10px;
    position: relative;
    justify-content: center;
    display: flex;
}
#ppCont{
    z-index: 10;
    top:-15px;
    position: relative;
    justify-content: space-around;
    display: flex;
    
}
#ifppCont{
    z-index: 10;
    top:-15px;
    position: relative;
    justify-content: space-around;
    display: flex;
    
}
#mapStatus{
    z-index: 10;   
    position: relative;
    justify-content: space-around;
    display: flex;
    padding-top: 10px;
    
}
#HitDiv{
    position: absolute;
    font-size: 30px;
    width: 170px;
    max-height: 20px;
    padding: 20px;
    padding-top: 10px;
    bottom: 80px;
    right: -5px;
    border-radius: 15px;
    z-index: 10;   

}
#mapStatus hr{
    z-index: 10;
    bottom:0px; 
    height: 3px;
    border-radius: 6px;
    text-align: center;
    width: 105%;
    margin-right: center;
    border: none;
}
.status{
    line-height: 3px;

}
#h100 hr{
    background-color: #4A9C36;
    box-shadow: 0px 0px 10px 0px #4A9C36;
}
#h50 hr{
    background-color: #9C9236;
    box-shadow: 0px 0px 10px 0px #9C9236;

}
#h0 hr{
    background-color: #9c3636;
    box-shadow: 0px 0px 10px 0px #9c3636;
}
#h100 {
    bottom: 195px;
}
#h50 {
    bottom: 245px;
}
#h0 {
    bottom: 295px;
}

.text{
    display: flex;
    justify-content: center;
}

.click{
    animation: click 100ms 2;
    animation-direction: alternate;
}
@keyframes click{
    0%{
        transform: scale(1);
        filter: blur(0px);

    }
    100%{
        transform: scale(0.9);
        filter: blur(1px);

    }
}
.scene{ 
        transition: ease-in-out 300ms;
        transition-timing-function: cubic-bezier(0,.8,.74,.84);
}

.scene2{ 
    transition: ease-in-out 400ms;
    transition-timing-function: cubic-bezier(0,.8,.74,.84);
}
.scene21{ 
    transition: ease-in-out 400ms;
    transition-timing-function: cubic-bezier(0,.8,.74,.84);
    transition-delay: 500ms;
}
.scene22{ 
    transition: ease-in-out 400ms;
    transition-timing-function: cubic-bezier(0,.8,.74,.84);
    transition-delay: 1000ms;
}

.scene3{ 
    transition: ease-in-out 1000ms;
    transition-timing-function: cubic-bezier(0,.8,.74,.84);
    transition-delay: 400ms;
}

.scene33{ 
    transition: ease-in-out 1000ms;
    transition-timing-function: cubic-bezier(0,.8,.74,.84);
    transition-delay: 12s;
}
#percent{
	position: absolute;
    top: 75px;
	right: 20px;
	font-size: 40px !important;
	text-align: right !important;
}
.odometer.odometer-auto-theme{
    /*font-size: 24px !important;*/
    font-family: "VAG Rundschrift D", Helvetica, sans-serif !important;
    font-weight: normal !important;	
}
.odometer.odometer-auto-theme .odometer-digit .odometer-digit-inner, .odometer.odometer-theme-default .odometer-digit .odometer-digit-inner {
    padding-left: 5px !important;
    padding-right: 5px !important;
    margin-left: -5px !important;
    margin-right: -5px !important;  
}


#Scoreboard{
    font-family: "Roboto";
    font-weight: normal;
    color: white;
    font-size: 20px !important;
    position: absolute;
    left:0px;
    width:200px;
    top:400px;
    background-color: rgba(44, 44, 44, 0.363);
    padding: 10px 20px 10px 10px;
    border-radius: 0px 20px 20px 0px;
    border-right: 5px solid #333333;
    box-shadow: 0px 0px 10px 0px #000000;
    text-shadow: 0px 2px 5px #000000;
    z-index: 0;

}
#Player1{
    padding-top: 20px;
}
#Player5{
    padding-bottom: 20px;
    margin-bottom: 20px;

}
#Player1, #Player2, #Player3, #Player4{
    padding-bottom:20px;
    margin-bottom: 30px;

}
#Player1, #Player2, #Player3, #Player4, #Player5{
    text-align: left;
}
#ScorePlayer1, #ScorePlayer2, #ScorePlayer3, #ScorePlayer4, #ScorePlayer5{
    text-align: left;
    float: left;
}

#combxtxt1, #combxtxt2, #combxtxt3, #combxtxt4, #combxtxt5,
#ComboPlayer1, #ComboPlayer2, #ComboPlayer3, #ComboPlayer4, #ComboPlayer5 {
    float: right;
}

#ComboPlayer1, #ComboPlayer2, #ComboPlayer3, #ComboPlayer4, #ComboPlayer5{
    text-align: left;
}
#combxtxt1, #combxtxt2, #combxtxt3, #combxtxt4, #combxtxt5{
    text-align: end;
    float: right;
}

#NamePlayer1div, #NamePlayer2div, #NamePlayer3div, #NamePlayer4div, #NamePlayer5div{
    margin-left: 20px;
    width: 100%;
    overflow:hidden;
    object-fit: contain;
    white-space: nowrap;
}

.NamePlayerClass{
    width: 100%;
    text-align: right;
    color: #cf9191;
    text-shadow: #996363 1px 0 10px;
}

.combztxt{
    color: #d96363;
    text-shadow: 0px 1px 5px #a34a4a;
}
.combztxtee{
    color: #cfb291; 
    text-shadow: #997b63 1px 0 10px;
    margin-bottom: 30px;
}
.PlayerOver{
    color: #cfb291; 
    text-shadow: #997b63 1px 0 10px;
}

.CombOver{
    color: #cfb291; 
    text-shadow: #997b63 1px 0 10px;
}

#Scoreboard hr{
    background: rgb(63,63,63);
    background: linear-gradient(90deg, rgba(63,63,63,0) 0%, rgba(63,63,63,1) 27%, rgba(63,63,63,1) 77%, rgba(63,63,63,0) 100%);
    text-shadow: 0px 2px 0px #000000, 0px 0px 5px #000000;    
    margin-top: -10px;
    z-index: 10;
    border-radius: 10px;
    height: 3px;
    line-height: 0px;
    border: none;
    text-align: center;
    margin-right: center;
}