html {
    font-family: 'Lato', sans-serif;;
}

#rank {
    height: 50px;
    width: 250px;
    border-radius: 5px;
    background-color: #99998a;
    margin-left: auto;
    text-align: center;
    margin-top: 150px;
    font-size: 35px;
    color: #fff;
}

#pp {
    height: 50px;
    width: 200px;
    margin-left: auto;
    border-radius: 5px;
    background-color: #99998a;
    text-align: center;
    font-size: 35px;
    color: #fff;
}

#profile {
    width: 100px;
    height: 100px;
    margin-left: 48%;
    margin-top: -40px;
    border-radius: 100%;
}

body {
    /*background-color: #99998a;*/
}

#hit {
    height: 50px;
    width: 250px;
    border-radius: 5px;
    background-color: #99998a;
    position: absolute;
    text-align: center;
    margin-bottom: -50px;
    font-size: 35px;
    color: #fff;
    margin-left: 40%;
    margin-top: 190px;
}


#combo {
    height: 50px;
    width: 175px;
    border-radius: 5px;
    background-color: #99998a;
    text-align: center;
    font-size: 35px;
    color: #fff;
    position: absolute;
    margin-right: auto;
    margin-top: 195px;
}

#ur {
    height: 50px;
    width: 200px;
    border-radius: 5px;
    background-color: #99998a;
    text-align: center;
    font-size: 35px;
    color: #fff;
    position: absolute;
    margin-left: 1100px;
    margin-top: 190px;
}

#leaderboard {
    height: 330px;
    width: 150px;
    position: absolute;
    margin-top: -250px;
    position: relative;
    background-color: #99998a;
    color: #fff;
    border-radius: 5px;
}


#score1 {
    margin-top: -10px;
    text-align: left;
}

#combo1 {
    text-align: right;
    margin-top: -34px;
}

#item1 {
    background-color: #686280;
    height: 50px;
    width: 150px;
    border-radius: 5px;
}

#score2 {
    margin-top: -10px;
    text-align: left;
}

#combo2 {
    text-align: right;
    margin-top: -34px;
}

#item2 {
    background-color: #686280;
    height: 50px;
    margin-top: -13px;
    width: 150px;
    border-radius: 5px;
}

#score3 {
    margin-top: -10px;
    text-align: left;
}

#combo3 {
    text-align: right;
    margin-top: -34px;
}

#item3 {
    background-color: #686280;
    height: 50px;
    margin-top: -13px;
    width: 150px;
    border-radius: 5px;
}

#score4 {
    margin-top: -10px;
    text-align: left;
}

#combo4 {
    text-align: right;
    margin-top: -34px;
}

#item4 {
    background-color: #686280;
    height: 50px;
    margin-top: -13px;
    width: 150px;
    border-radius: 5px;
}

#score5 {
    margin-top: -10px;
    text-align: left;
}

#combo5 {
    text-align: right;
    margin-top: -34px;
}

#item5 {
    background-color: #686280;
    height: 50px;
    margin-top: -13px;
    width: 150px;
    border-radius: 5px;
}

#score6 {
    margin-top: -10px;
    text-align: left;
}

#combo6 {
    text-align: right;
    margin-top: -34px;
}

#item6 {
    background-color: #686280;
    height: 50px;
    margin-top: -13px;
    width: 150px;
    border-radius: 5px;
}