@font-face {
    font-family: arialRoundedBold;
    src: url(arlrdbd.ttf);
}
:root{
    --con-width: 600px;
    --con-height: 90px;
    --color-bg: #1c1c1c;
    --color-border: #2b2b2b;
    --color-bg2: #242424;

}
*{
    padding: 0;
    margin: 0;
}
  #everything{
    position: relative;
    margin: 30px;
    width: 606px;
    height: 96px;
  }
  #bodycontainer{
    width: var(--con-width);
    height: var(--con-height);
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    border: 5px solid var(--color-border);
    box-shadow: 0 10px var(--color-bg2);
  }
  #bg{
    position: absolute;
    top: 0; left: 0;
    width: var(--con-width);
    height: var(--con-height);
    z-index: -1;
    object-fit: cover;
  }
  .darkbg{
    width: var(--con-width);
    height: var(--con-height);
    background: linear-gradient(to bottom, black 0%, #0000002f 70%);
  }
  .arttitle{
    position: absolute;
    width: var(--con-width);
    height: var(--con-height);
    -webkit-mask-image: linear-gradient(to right, transparent 10%, black 20%,black 80%, transparent 100%);
    mask-image: linear-gradient(to right, transparent 10%, black 20%,black 80%, transparent 90%);
  }
  .mapName{
    white-space: nowrap;
    position: absolute;
    color:white;
    font-size: 24px;
    text-shadow: 0 2px 2px black;
    font-family: arialRoundedBold;
    top: 35%; left: 50%;
    transform: translate(-50%, -50%);

  }
  .artist{
    white-space: nowrap;
    position: absolute;
    color:white;
    font-size: 16px;
    text-shadow: 0 2px 2px black;
    font-family: arialRoundedBold;
    top: 65%; left: 50%;
    transform: translate(-50%, -50%);
  }
  .mapper{
    float: left;
    margin-left: 15px;
  }
  .diff{
    float:right;
    margin-right: 15px;
  }
  .container {
    font-family: arialRoundedBold;
    position: relative;
    top: 50%; transform: translateY(-50%);
    width: max-content;
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    background: var(--color-bg);
    padding: 0.3em 0.5em;
    border-radius: 10px;
    border: 3px solid var(--color-border);
    display: inline-block;
    box-shadow: 0 0 5px var(--color-bg2);
  }
  .textcontainer{
    display: flex;
    width: max-content;
    max-width: 100px;
    -webkit-mask-image: linear-gradient(to right,black 80px, transparent 100px);
    mask-image: linear-gradient(to right, black 80px, transparent 100px);
  }
  .textstyle{
    color: white;
  }
  .stlying{
    color: white;
    font-size: 12px; 
    margin-right: 5px; 
    position: relative; 
    top: 3px;
  }
  .positioning{
    overflow: visible;
    margin-right: 5px;
    position: relative; 
    top: 0px;
  }
  .RANKED{
    color: #80e6ff;
    font-size: 16px;
  }
  .LOVED{
    color: #ff81c5;
    font-size: 16px;
  }
  .GRAVEYARD{
    color: #929292;
    font-size: 16px;
  }
  .QUALIFIED{
    color: #c0e71b;
    font-size: 16px;
  }

  #hits{
    transition: 300ms;
    text-align: center;
    color: white;
    position: relative;
    display:flex;
    width: var(--con-width);
    background: var(--color-bg2);
    transform: translateY(-15px);
    z-index: -10;
    padding-top: 15px;
    padding-bottom: 5px;
    border: 5px solid var(--color-bg2);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    justify-content: center;
  }
  .hitdoublecontainer{
    width: 85%;
    display: flex;
    z-index: -9;
  }
  .hitdoublecontainer>.hitcontainer{
      position: relative;
      width: 25%;
      flex: 1;
      top: 5px;
      font-family: arialRoundedBold;
  }
  .rank{
    white-space: nowrap;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    position: relative;
    font-family: arialRoundedBold;
    font-size: 60px;
    color: white;
  }

  .hitcontainer>span{
    position: relative;
    font-size: 24px;
  }
  .pptext{
    margin-left: 3px;
    color: #537fd6;
    text-shadow: 0 0 5px #537fd6;
  }

  .x{
    color:rgb(146, 146, 146);
    text-shadow: 0 0 2px rgb(146, 146, 146);
  }
  .h100{
    color: #7aff75;
    text-shadow: 0 0 5px #7aff75;
  }
  .h50{
    color: #feee76;
    text-shadow: 0 0 5px #feee76;
  }
  .h0{
    color: #ea2359;
    text-shadow: 0 0 5px #ea2359;
  }
  .hitcontainer>.odometer{
      top: -4px;
  }
